
@import '../../reset.scss';

.favorite{

    &__title{
        font-size: $fz-big;
        margin-bottom: 60px;
    }

    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        gap: 30px 0;
        margin-bottom: 40px;
        justify-content: flex-start;

        &::after {
            content: "";
            flex: auto; // Заполняет оставшееся пространство
        }

        @media(max-width: 480px){
            justify-content: center;
        }
    }

    &__item{
        height: 372px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: calc(20% - 20px);
        margin-right: 20px; // Отступ между элементами

        @media(max-width:1180px){
            width: calc(25% - 20px);
        }

        @media(max-width: 880px){
            width: calc(32% - 20px);
        }
        
        @media(max-width: 680px){
            width: calc(48% - 20px);
        }

        @media(max-width: 480px){
            width: calc(98% - 20px); // 25% ширины контейнера минус отступы
        }
        
        

        &__img{
            text-align: center;
            border-radius: 12px;
            max-height: 192px;
            height: 192px;
            overflow: hidden;
            &__wrapper{
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;
                background-color: #f4f4f4;
                padding: 2px;
                border-radius: 12px;
            }
        }

        &__title{
            margin-bottom: 5px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        &__desc{
            margin-bottom: 10px;
            overflow: hidden;
        }
        
        &__cost{
            margin-bottom: 15px;
            font-weight: 600;
            font-size: 18px;
        }
    }
}