

@import '../../../reset.scss';

.btn {
    background-color: $color-blue;
    color: #fff;
    padding: 10px 20px;
    border-radius: $border;
    width: 100%;
    text-align: center;

    &:hover {
        background-color: $color-blue-hover;
    }
}