

@import '../../reset.scss';

// test
.auth{
    max-width: 50%;
    margin: 0 auto;
    // background-color: rgb(11, 16, 30);
    background-color: #292C35;
    padding: 40px 20px;
    border-radius: $border;
}

@media(max-width: 1100px){
    .auth{
        max-width: 100%;
    }
}